.carousel-inner img {
    width: 100%;
    max-height: 600px;
}
@media only screen and (max-width: 768px) {
    .navbar-brand{width: 170px;}
    .cards{width: 100%;
    text-align: center;
}
.items{margin: auto;}

iframe {
    width: 100%;
}
}
p{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
h5{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.bgPrimario{background-color: black;}
.bgSecundario{background-color: orange;}
.bgTerciario{background-color: wheat;}

